.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 123px;
}

.heading-1 {
  align-self: flex-start;
  font-family: 'UNIVERS3', Helvetica, Arial, sans-serif;
  font-size: 22px;
  /* line-height: 25px; */
}

.heading-2 {
  align-self: flex-end;
  font-family: 'UNIVERS3', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header-img-one {
  position: absolute;
  height: 6vw;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.header-img-one:hover {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.header-img-two {
  position: absolute;
  height: 6vw;
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 10%;
  /* background-color: green; */
}

.images-one {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.images-two {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: -25px;
}

.pic {
  opacity: .8;
  width: 100%;
  height: auto;
  position: absolute;
}

.left {
  right: 0;
}

.right {
  left: 0;
}

.logo.left {
  right: -20%;
}

.logo.right {
  left: -20%;
}

.pic.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.logoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: white;
    -webkit-transition: opacity 800ms ease-out;
    -moz-transition: opacity 800ms ease-out;
    -o-transition: opacity 800ms ease-out;
    transition: opacity 800ms ease-out;
}


.logoWrapper.left:hover, .logoWrapper.right:hover {
  opacity: 0;
  -webkit-transition: opacity 800ms ease-out;
  -moz-transition: opacity 800ms ease-out;
  -o-transition: opacity 800ms ease-out;
  transition: opacity 800ms ease-out;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'UNIVERS3';
  src: url('UNIVERS3.ttf') format('truetype'),
       url('UNIVERS3.woff') format('woff');
}

@media screen and (max-width: 480px) {
    .App {
        margin-top: 40%;
    }
}
